.social-panel {
    text-align: center;

}

.social-item {
    display: inline-block;
    padding-right: 10px;
}

.social-link {
    display: block;
    background-color: #E5E5E5;
    border-radius: 10px;
    color: #14213D;
    padding-inline: 25px;

}

@media only screen and (max-width: 400px) {
    .social-item {
        padding-top: 10px;
        min-width: 90%;
    }
    .social-panel{
        padding-bottom: 50px;
    }
}

@media only screen and (max-width: 800px) {
    .social-item {
        padding-top: 10px;
        min-width: 70%;
    }
    .social-panel{
        padding-bottom: 50px;
    }
}