@font-face {
    font-family: "hacked";
    src: url(fonts/hacked.ttf) format("truetype");
}

.b-page {
    background-color: #000000;
    color: #E5E5E5;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    background-color: #000000;
}

.branding {
    font-family: "hacked", sans-serif;
}

h1 {
    font-family: "hacked", sans-serif;
}

a:hover {
    text-decoration: underline;
}

td {
    color: #E5E5E5;
}

.branding {
    background-color: #000000;
    color: #ffffff;
}

.nav-head-item {
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
    font-weight: bold;

}

.custom-navbar {
    margin-bottom: 10px;
}

.selected {
    background-color: #FCA311;
}

.nav-head {
    padding-top: 10px;
    margin-bottom: 50px;
    background-color: #14213D;
}

.nav-head-item .nav-head-link {
    padding: 10px 15px 10px 15px;
    border-radius: 10px;
    color: #FCA311;
}

.nav-head-item .nav-head-link.selected {
    color: #ffffff;
    font-weight: bold;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    cursor: default;
    pointer-events: none;
    text-decoration: none;
}


.warning {
    text-align: center;
    color: #FCA311;
}


.nav-foo {
    position: absolute;
    left: -25px;
    bottom: -150px;
    width: 100%;
    text-align: center;
}

.nav-foo-item {
    display: inline-block;
}

.nav-foo-item .nav-foo-link {
    padding: 10px 35px 10px 35px;
    margin-left: 10px;
    background-color: #E5E5E5;
    border-radius: 10px;
    color: #14213D;

}

.services-table {
    width: 350px;
    margin: 0 auto;
}


pre {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* hide ham-menu */
#menu__toggle {
    opacity: 0;
}

@media only screen and (max-width: 420px) {

    h1 {
        font-size: 40px;
    }

    .branding {
        padding-bottom: 0px;
        margin-bottom: 0px;
    }

    .nav-head-item {
        display: block;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 18px;
        font-weight: bold;
    }

    .nav-head-item .nav-head-link {
        padding: 5px 10px 5px 10px;
        border-radius: 2px;
        color: #FCA311;
    }

    .custom-navbar {
        padding-left: 5px;
    }

    .warning h1 {
        font-size: 30px;
    }

    .warning img {
        max-width: 320px;
    }

    .nav-foo-item {
        display: block;
        padding-top: 25px;
        width: 100%;
    }

    .menu__btn {
        display: flex; /* используем flex для центрирования содержимого */
        align-items: center; /* центрируем содержимое кнопки */
        position: absolute;
        top: 20px;
        left: 20px;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 1;
    }

    /* добавляем "гамбургер" */
    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #616161;
    }

    .menu__btn > span::before {
        content: '';
        top: -8px;
    }

    .menu__btn > span::after {
        content: '';
        top: 8px;
    }

    /* контейнер меню */
    .nav-links {
        display: block;
        position: fixed;
        visibility: hidden;
    }
    .nav-head {
        padding-top: -1px;
        margin-bottom: 0px;
        background-color: black;
    }

    /* элементы меню */
    .nav-head-link {
        display: block;
        padding: 12px 24px;
        text-decoration: none;
    }

    #menu__toggle:checked ~ .menu__btn > span {
        transform: rotate(45deg);
    }

    #menu__toggle:checked ~ .menu__btn > span::before {
        top: 0;
        transform: rotate(0);
    }

    #menu__toggle:checked ~ .menu__btn > span::after {
        top: 0;
        transform: rotate(90deg);
    }

    #menu__toggle:checked ~ .nav-links {
        visibility: visible;
        position: relative;

        left: 0;
    }
}

/*BLOG*/
.mainContent {
    text-align: center;
}

.content-card {
    z-index: 999;
    color: white;
    max-width: 800px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.content-title {
    vertical-align: middle;
    text-align: center;
    font-size: large;
    color: white;
    font-family: monospace;
}

.content-card a {
    color: #FCA311;
}

.content-background {
    background-color: #14213D;
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 1px;
    padding-bottom: 1px;
    opacity: 0.7;
}

.card-title {
    font-family: monospace;
    font-size: 20px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 10px;
}

.card-footer {
    font-size: 12px;
    text-align: right;
    width: 100%;
    background-color: #14213D;
}

.card-creation_date {
    display: inline;
}

.card-edit_date {
    display: inline;
    margin-left: 5px;
    font-style: italic;
}

.paginator {
    max-width: 800px;
    position: relative;
    margin-left: auto;
    margin-right: auto;

    font-family: monospace;
    font-size: 15px;
    font-weight: bold;
}

.paginator a {
    text-decoration: none;
    color: #FCA311;
}

.paginator .nextPage {
    float: right;
    text-align: right;
}

.paginator .prevPage {
    float: left;
    text-align: left;
}

.card-taglist div {
    display: inline;
    margin-right: 5px;
}

/*styling code*/
.card-preview pre {
    color: white;
    background: black;
}

code .line {
    padding-left: 10px;
    padding-right: 10px;
}
