@font-face {
  font-family: "hacked";
  src: url(fonts/hacked.ttf) format("truetype");
}
body {
  background-color: #000000;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  color: #E5E5E5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-family: "hacked", sans-serif;
  font-size: 80px;
}
.branding {
  background-color: #000000;
  color: #ffffff;
}

.nav-head-item {
  display: inline-block;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 20px;
  font-weight: bold;

}

.custom-navbar{
  margin-bottom: 10px;
}

.selected {
  background-color: #FCA311;
}

.nav-head{
  padding-top: 10px;
  margin-bottom: 50px;
  background-color: #14213D;
}
.nav-head-item .nav-head-link {
  padding: 10px 15px 10px 15px;
  border-radius: 10px;
  color: #FCA311;
}

.nav-head-item .nav-head-link.selected{
  color: #ffffff;
  font-weight: bold;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
  cursor: default;
  pointer-events: none;
  text-decoration: none;
}



.warning {
  text-align: center;
  color: #FCA311;
}


.nav-foo{
  position: absolute;
  left: -25px;
  bottom: -150px;
  width: 100%;
  text-align: center;
}

.nav-foo-item{
  display: inline-block;
}

.nav-foo-item .nav-foo-link {
  padding: 10px 35px 10px 35px;
  margin-left: 10px ;
  background-color: #E5E5E5;
  border-radius: 10px;
  color: #14213D;

}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
